/*
 * base.css for base.html template
 *
 */

#sidebar {
  float: right;
  width: 180px;
  background: #EBEFF9;
}

#sidebar h4 {
  background: #C2CFF1;
  padding: 2px 4px;
}

#main {
  margin-right: 190px;
}

.entry h1 a {
  color: black;
  text-decoration: none;
}

.entry {
  margin-bottom: 2em;
}

.entry .metadata {
  margin-top: 3px;
}

.entry p {
  margin: 0;
  margin-bottom: 1em;
}

.entry .content {
  margin-top: 1em;
  line-height: 16pt;
}

.entry .extra .metadata {
  background: #F9F9F9;
  padding: 2px 4px;
}

.metadata .date {
  color: gray;
}
