/*
 * base.css for base.html template
 *
 */

#sidebar {
  float: right;
  width: 180px;
}

#sidebar h4 {
  background: #C2CFF1;
  padding: 2px 4px;
}

#main {
  background: #FFFFFF;
  margin-right: 190px;
  border: 1px solid #BBB;
}

.entry h1 a {
  color: black;
}

.entry {
  margin: 0.5em 0.5em 1.5em;
}

.entry .metadata {
  margin-top: 3px;
}

.entry p {
  margin: 0;
  margin-bottom: 1em;
}

.entry .content {
  margin: 1em;
  line-height: 16pt;
}

.entry .extra .metadata,
.entry .extra .admin {
  padding: 2px 4px;
}

.metadata .date {
  color: gray;
}
