/*
 * layout.css for layout.html template
 *
 */

body {
  background: #EEE;
  color: black;
  margin: 0;
}

body,
input,
textarea {
  font-family: Georgia, serif;
  font-size: 12pt;
}

table {
  border-collapse: collapse;
  border: 0;
}

td {
  border: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-family: "Helvetica Nue", Helvetica, Arial, sans-serif;
  margin: 0;
}

h1 {
  font-size: 20pt;
}

pre,
code {
  font-family: monospace;
  color: #060;
}

pre {
  margin-left: 1em;
  padding-left: 1em;
  border-left: 1px solid silver;
  line-height: 14pt;
}

a,
a code {
  color: #00c;
}

#wrapper {
  margin: auto;
}

#header {
  background-color: #3b5998;
  padding: 5px 10px 10px;
  margin-bottom: 14px;
}

#header,
#header a {
  color: white;
}

#header h1 a {
  text-decoration: none;
}

#footer,
#body {
  margin-left: 10px;
  margin-right: 10px;
}

#footer {
  margin-top: 36px;
  margin-right: 200px;
  border-top: 2px solid;
}

.visualclear {
  display: block;
  clear: both;
}
