<div class="entry">
  {% set date_format = "%Y-%m-%dT%H:%M:%SZ" %}
  <h1><a href="/entry/{{ str(entry.index) }}">{{ escape(entry.title) }}</a></h1>

  <div class="metadata">
    <span class="author">{{ entry.author }}</span> |
    <span class="date">{{ locale.format_date(entry.published, gmt_offset=-480, full_format=True) }} <small>(+800TZ)</small></span> |
    <span class="tags">tags:
      {% if entry.tags %}
        {% for tag in entry.tags %}
          <a href="/tag/{{ tag }}">{{ tag }}</a>
        {% end %}
      {% end %}
    </span>
  </div>

  <div class="content">{{ entry.html }}</div>

  <div class="extra">
    <div class="metadata">
      <a href="/entry/{{ str(entry.index) }}#comment">{{ comments_count_str }}</a>
      {% if (entry.updated - entry.published).seconds %}
        | Updated at:
        <span class="date">{{ locale.format_date(entry.updated, gmt_offset=-480, full_format=True) }} <small>(+800TZ)</small></span>
      {% end %}
    </div>

    {% if current_user and current_user.administrator %}
      <div class="admin">
        <a href="/compose?index={{ str(entry.index) }}">{{ _("Edit this post") }}</a>
      </div>
    {% end %}
  </div>
</div>
