{% extends "base.html" %}

{% block head %}
  <style type="text/css">
    ul.archive {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    ul.archive li {
      margin-bottom: 1em;
    }

    ul.archive .title {
      font-family: "Helvetica Nue", Helvetica, Arial, sans-serif;
      font-size: 14pt;
    }
  </style>
{% end %}

{% block main %}
  <ul class="archive">
    {% for entry in entries %}
      <li>
        <div class="title"><a href="/entry/{{ str(entry.index) }}">{{ escape(entry.title) }}</a></div>
        <div class="metadata">
          <span class="author">{{ entry.author }}</span> |
          <span class="date">{{ locale.format_date(entry.published, gmt_offset=-480, full_format=True) }} <small>(+800TZ)</small></span> |
          <span class="tags">tags:
            {% if entry.tags %}
              {% for tag in entry.tags %}
                <a href="/tag/{{ tag }}">{{ tag }}</a>
              {% end %}
            {% end %}
          </span>
        </div>
      </li>
    {% end %}
  </ul>

  {% if extra %}
    <div style="text-align:center">
      <a href="?start={{ str(extra.index) }}">Older</a>
    </div>
  {% end %}
{% end %}
