{% extends "layout.html" %}

{% block head %}
  <link rel="stylesheet" href="/static/css/base.css" type="text/css"/>
  {% block inlinecss %}{% end %}
{% end %}

{% block body %}
  <div id="sidebar">
    {{ modules.Tags() }}

    <div class="misc">
      <h4>Misc</h4>
      <ul>
        {% if current_user and current_user.administrator %}
          <li><a href="/compose">{{ _("New post") }}</a></li>
        {% end %}
        <li><a href="/archive">{{ _("Archive") }}</a></li>
        <li><a href="/feed">{{ _("Feed") }}</a></li>
        <li><a href="/about">{{ _("About") }}</a></li>
      </ul>
    </div>

  </div>
  <div id="main">{% block main %}{% end %}</div>
{% end %}
