<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title>{{ escape(handler.settings["app_title"]) }}</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="alternate" href="/feed" type="application/atom+xml" title="{{ escape(handler.settings["app_title"]) }}"/>
    <link rel="stylesheet" href="/static/css/layout.css" type="text/css"/>
    {% block head %}{% end %}
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <div style="float:right;">
          {% if current_user %}
            {{ escape(current_user.nickname()) }}
            <a href="{{ escape(users.create_logout_url(request.uri)) }}">{{ _("Sign out") }}</a>
          {% else %}
            <a href="{{ escape(users.create_login_url(request.uri)) }}">{{ _('Sign in') }}</a>
          {% end %}
        </div>
        <h1>
          <div class="title">
            <a href="/">{{ escape(handler.settings["app_title"]) }}</a>
          </div>
          <div class="zen">
            <span style="color:#0FE;">$</span> <span style="color:#0C0;">python</span> -m <span style="color:#0F0;">this</span>
          </div>
        </h1>
      </div>
      <div id="body">{% block body %}{% end %}</div>
      <div class="visualclear"><!-- --></div>
      <div id="footer">
        {% block footer %}
          <p><small>Except where otherwise noted, content on this site is licensed under a <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a> License</small></p>
          <p>Powered by
            <a href="http://www.python.org/">Python</a>,
            <a href="http://code.google.com/appengine">Google App Engine</a>,
            <a href="http://github.com/facebook/tornado">Tornado</a>,
            <a href="http://www.plone.org">plone.intelligenttext.transforms</a> and
            <a href="http://www.freewisdom.org/projects/python-markdown/">Python Markdown</a>.
          </p>
          <p>
            ©2010 Kaizhao Zhang - <a href="/about">About</a>
          </p>
        {% end %}
      </div>
    </div>
    {% block bottom %}{% end %}
    {% block googleanalytics %}
        <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
        try {
        var pageTracker = _gat._getTracker("UA-15975568-1");
        pageTracker._trackPageview();
        } catch(err) {}</script>
    {% end %}
  </body>
</html>
